body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #D1D1D1;
	font-size: 12px;
}

#header {
	margin: 0;
	padding: 10px 60px 0 60px;
	height: 92px;
	background: #b0b0b0 url("./../images/header_background.png") repeat;
}

#header #logo {
	float: left;
}

#header #logo h1 {
	margin: 6px 0 10px 0;
	padding: 0;
	color: #ffffff;
	font-size: 22px;
}

#header #logo a {
	color: #ffffff;
	text-decoration: none;
}

#header #logo a:hover {
	color: #ffffff;
}

#header ul#user {
	margin: 0 0 27px 0;
	padding: 0;
	float: right;
}

#header ul#user li {
	margin: 0;
	padding: 5px 12px 5px 12px;
	list-style: none;
	float: left;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #a5a5a5;
}

#header ul#user li.first {
	border-left: none;
}

#header ul#user li a {
	color: #4e4e4e;
	font-weight: bold;
	text-decoration: none;
}

#header ul#user li a:hover {
	color: #376ea6;
	text-decoration: underline;
}

#header #header-inner {
	margin: 0;
	padding: 0;
	height: 40px;
	clear: both;
	position: relative;
	background: #003367 url("./../images/header_inner.png") repeat-x;
}

#header #header-inner #home {
	float: left;
}

#header #header-inner #home a {
	margin: 0;
	padding: 0;
	height: 40px;
	width: 46px;
	display: block;
	background: url("./../images/button_home.png");
	background-position: 0 0;
}

#header #header-inner #home a:hover {
	background-position: 0 -40px;
}

#header #header-inner #quick,#header #header-inner #quick ul {
	margin: 4px 4px 0 0;
	padding: 0;
	position: relative;
	float: right;
	list-style-type: none;
	list-style-position: outside;
	width: 310px;
}

#header #header-inner #quick li {
	margin: 0 5px 0 0;
	padding: 0;
	position: relative;
	float: right;
}

#header #header-inner #quick li a {
	top: 0;
	left: 0;
	padding: 0;
	float: left;
	display: block;
	clear: both;
	overflow: hidden;
	color: #FFFFFF;
	text-decoration: none;
	background: #50667C;
}

#header #header-inner #quick li span {
	top: 0;
	right: 0;
	margin: 0;
	padding: 10px 5px 8px 5px;
	height: 1%;
	display: block;
	float: left;
	background: url("quick_r.png") no-repeat top right;
	border-left: 1px solid #3f6f9f;
}

#header #header-inner #quick ul {
	top: 29px;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	display: none;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #666;
	border-top: 1px solid #003367;
	z-index: 100;
}

#header #header-inner #quick li ul li {
	border-bottom: 1px solid #dddddd;
}

#header #header-inner #quick li ul li.last {
	border: none;
}

#header #header-inner #quick li span.icon {
	top: 0;
	left: 0;
	padding: 8px 8px 4px 8px;
	border-left: none;
	border-right: 1px solid #2e5c89;
}

#content {
	margin: 5px 0;
	padding: 0;
	min-height: 100%;
	clear: both;
	overflow: hidden;
	min-height: 500px;
}

#content #left {
	width: 200px;
	float: left;
	margin-left: 60px;
	color: #cccccc;
	font-size: 13px;
	background: #302b23;
}

#content #left h2 {
	padding: 0 50px;
	height: 35px;
	line-height: 35px;
	background: url(../images/header_inner.png) repeat;
	font-size: 14px;
	color: white;
	text-align: center;
	border-bottom: 1px solid gray;
}

#content #right {
	background: white;
	width: 1019px;
	margin-left: 10px;
	float: left;
}

#content #right .title {
	color: white;
	padding: 10px 0 0 25px;
	background: #50667C;
	height: 25px;
	/* 	font-weight: bold; */
	font-size: 14px;
	border-bottom: 1px solid black;
}

#footer {
	margin: 0;
	padding: 5px 0 5px 0;
	clear: both;
	overflow: hidden;
	background: #2a2a2a;
	text-align: right;
}

#footer p {
	margin: 0 60px 0 60px;
	padding: 10px 0 10px 0;
	color: #ffffff;
}